<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#!/">#BRAND</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#!/launchyears" ng-if="toolbar.loggedIn">1</a></li>
					<li><a href="#!/products" ng-if="toolbar.loggedIn">2</a></li>
					<li><a href="#!/products" ng-if="toolbar.loggedIn">3</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#!/login"
						ng-if="!toolbar.loggedIn"
						data-ng-click="toolbar.showlogin()"
						>Login</a>
					</li>
					<li><a class="btn btn-primary"
						data-ng-click="toolbar.logout()"
						ng-if="toolbar.loggedIn">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>