.navbar-brand{color:#fff;}
.navbar-brand:focus, .navbar-brand:hover{color:rgba(230,230,230,0.8);}
.navbar, .navbar-fixed-top{padding:0px;}
.navbar-inner{background:#0b2144;border-bottom:rgb(129,129,203) solid 1px;box-shadow: #777777 0px 2px 5px;}
.navbar-inner>.container{max-width:1170px;}
.nav>li>a{color:#fefefe}
.nav>li>a:hover{color:#003b6a;}
